@import './base/normalize';

@import './abstracts/variables';
@import './abstracts/mixins';


html,
body {
   font-family: 'Mulish', sans-serif;
   font-size: 10px;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style-type: none;
}

.logo__img {
   transition: transform 500ms ease;
   -webkit-transition: transform 500ms ease;
   -moz-transition: transform 500ms ease;
   -ms-transition: transform 500ms ease;
   -o-transition: transform 500ms ease;
}

.logo__img:hover {
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -ms-transform: scale(1.2);
   -o-transform: scale(1.2);

}

@import './animate.scss';

@import './components/common/container';
@import './components/common/text';
@import './components/common/title';
@import './components/button';
@import './layout/header';
@import './layout/menu';
@import './section/personal';
@import './section/social';
@import './section/smoothies';
@import './layout/grid';
@import './section/about';
@import './section/products';
@import './section/story';
@import './section/testimonials';
@import './section/blog';
@import './section/instagram';
@import './layout/footer';
@import './media/1795px';
@import './media/1499px';
@import './media/1274px';
@import './media/_1120px';
@import './media/_1044px';
@import './media/768px';
@import './media/_570px';
@import './media/_400px';
@import './media/_360px';