.btn {
   position: relative;
   height: 60px;
   border-radius: 35px;
   padding: 0 30px;
   box-sizing: border-box;
   font-family: Mulish;
   font-size: 21px;
   line-height: 22px;
   color: #ffffff;
   font-weight: 800;
}

.btn--green {
   display: flex;
   align-items: center;
}

.header__btn {
   width: 280px;
   height: 70px;
   background-color: #0aa566;
   font-size: 24px;
   line-height: 40px;
   padding: 0 38px;
   margin: 0 auto;
}

.about__btn {
   width: 380px;
   border: 2px solid #f8b231;
   padding-left: 25px;
}

.story__btn {
   width: 300px;
   background-color: #0aa566;
}

.products__btn {
   background-color: transparent;
   width: 204px;
   border: solid 2px #ffffff;
   border-radius: 30px;
}