@media screen and (max-width: 1120px) {

   .testimonials {
      padding: 115px 0 75px;
   }

   .testimonials__title {
      margin: 0 0 100px;
   }

   .testimonials__personal::after {
      font-size: 180px;
      line-height: 40px;
      top: 275px;
      left: 0px;
   }

   .testimonials__content {
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 15px;
   }

   .testimonials__text {
      margin-bottom: 20px;
   }

   .testimonials__paragraph {
      margin: 75px 0 85px;
   }

}