.personal {

   &__list {
      display: flex;
      padding: 0;
      margin-right: 140px;
   }

   &__item {
      margin-right: 45px;

      &:last-child {
         margin-right: 0;
      }

      //    &:hover {
      //       opacity: 0.6;
      //    }
   }

   &__link:hover {
      opacity: 0.6;
   }

   &__count {
      position: relative;
   }

   &__count-number {
      position: absolute;
      top: -10px;
      left: 25px;
      width: 18px;
      height: 18px;
      background-color: white;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
      font-size: 10px;
      line-height: 18px;
      text-align: center;
   }
}