.btn {
   position: relative;
   height: 60px;
   border-radius: $border-radius;
   padding: 0 30px;
   @include fontz(Mulish, #ffff);
   font-size: calc(16px + 5 * (100vw / 1980));
   line-height: 1.2;
   font-weight: 800;
   -webkit-border-radius: $border-radius;
   -moz-border-radius: $border-radius;
   -ms-border-radius: $border-radius;
   -o-border-radius: $border-radius;

   &--green {
      display: flex;
      align-items: center;
   }
   
   &--green::after {
      content: "";
      position: absolute;
      right: 40px;
      width: 30px;
      height: 16px;
      background: url('./../images/arrow-yellow.png') no-repeat;
   }
   
   &--green:hover::after {
      transform: translateX(10px);
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
   }
   
   &--green:active {
      transform: translate(1px, 2px);
      -webkit-transform: translate(1px, 2px);
      -moz-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
      -o-transform: translate(1px, 2px);
   }
}

