@media screen and (max-width: 1795px) {

   .about {
      &__img {
         right: 35px;
      }

      &__title--green::after {
         width: 100%;
         right: 0px;
      }
   }

   .footer {
      &__header-wrap {
         justify-content: space-around;
      }

      &__logo {
         margin: 65px 8.3vw 0 0;
      }

      &__central-block {
         max-width: 590px;
         margin-right: 70px;
      }
   }
}