.about {
   background-color: #16816b;
   padding: 0;
}

.about__wrap {
   display: flex;
   justify-content: center;
}

.about__img {
   width: 100%;
   position: relative;
   top: 65px;
   right: 140px;
}

.about__right-block {
   width: 660px;
   margin: 90px 0 70px;
}

.about__title {
   font-size: calc(35px + 20 * (100vw / 1980));
   line-height: 1.1;
   color: #ffffff;
   margin: 0 0 45px;
}

.about__title--green {
   color: #cae941;
   position: relative;
}

.about__title--green::after {
   content: "";
   position: absolute;
   top: 60px;
   right: -20px;
   width: 450px;
   height: 13px;
   background: url('./../images/about_line.png') no-repeat;
}

.about__list {
   font-family: Mulish;
   font-size: calc(18px + 3 * (100vw / 1980));
   line-height: 2.1;
   font-weight: 400;
   color: #ffffff;
   padding-left: 25px;
   margin-bottom: 40px;
   list-style-image: ('./../images/icons/about.png');
}

.about__item {
   padding-left: 10px;
}

.about__btn {
   width: 380px;
   border: 2px solid #f8b231;
   padding-left: 30px;
}