.header {
   height: 100vh;
   background: url('./../images/header_bg_img.jpg') no-repeat;
   background-size: cover;
   background-position: center;

   &__top {
      position: relative;
      padding: 75px 0;
      margin-bottom: 40px;
   }

   // &__burger-btn {
   //    background-color: $main_color-btn;
   //    display: none;
   //    border: none;
   //    width: 50px;
   //    padding: 3px;
   //    position: fixed;
   //    top: 40px;
   //    right: 30px;
   //    border-radius: 8px;
   //    -webkit-border-radius: 8px;
   //    -moz-border-radius: 8px;
   //    -ms-border-radius: 8px;
   //    -o-border-radius: 8px;
   //    z-index: 9999;
   //    cursor: pointer;

   //    &:active {
   //       transform: translate(1px, 2px);
   //       -webkit-transform: translate(1px, 2px);
   //       -moz-transform: translate(1px, 2px);
   //       -ms-transform: translate(1px, 2px);
   //       -o-transform: translate(1px, 2px);
   //    }
   // }

   // &__burger-btn-icon {
   //    max-width: 100%;
   // }

   &__menu {
      @extend %flexCenter;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__menu-icon {
      display: none;
   }   

   &__menu-icon._active {
      span {
         transform: scale(0);
      }

      &::before {
         transform: rotate(-45deg);
         top: calc(50% - 1px);
      }

      &::after {
         transform: rotate(45deg);
         bottom: calc(50% - 1px);
      }
   }

   .menu {
      &__list {
         display: flex;
         justify-content: flex-start;
         padding: 0;
      }
   
      &__item {
         margin-right: 35px;
         @include font(Mulish, #ffff);
         font-size: calc(14px + 2 * (100vw / 1980));
         font-weight: 700;
         text-transform: uppercase;
         transition: color 0.2s ease;
         -webkit-transition: color 0.2s ease;
         -moz-transition: color 0.2s ease;
         -ms-transition: color 0.2s ease;
         -o-transition: color 0.2s ease;
   
         &:hover {
            text-decoration: underline;
         }
   
         &:last-child {
            margin-right: 0;
         }
      }
   }

   &__body {
      padding: 10px 0;
   }

   &__logo {
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);      
   }
   
   &__right-block {
      max-width: 420px;
      @extend %flexCenter;
      padding: 10px 0;
   }

   &__personal {
      position: relative;
   }

   &__personal::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 205px;
      width: 47px;
      height: 2px;
      background: url('./../images/header_line.png') no-repeat;
   }

   &__btn {
      width: 280px;
      height: 70px;
      background-color: $main_color-btn;
      font-size: calc(20px + 4 * (100vw / 1980));
      line-height: 1.2;
      padding: 0 38px;
      margin: 0 auto;
   }
}