.header {
   height: 100vh;
   background: url('./../images/header_bg_img.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.header__top {
   position: relative;
   padding: 75px 0;
   margin-bottom: 35px;
}

.header__burger-btn {
   background-color: #0aa566;
   display: none;
   border: none;
   width: 50px;
   padding: 3px;
   position: fixed;
   top: 40px;
   right: 30px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   z-index: 9999;
}

.header__burger-btn-icon {
   max-width: 100%;
}

.header__navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.header__menu {
   padding: 10px 0;
}

.header__logo {
   position: absolute;
   top: 70px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

.header__right-block {
   max-width: 420px;
   display: flex;
   align-items: center;
   padding: 10px 0;
}

.header__personal {
   position: relative;
}

.header__personal::after {
   content: "";
   position: absolute;
   top: 15px;
   left: 205px;
   width: 47px;
   height: 2px;
   background: url('./../images/header_line.png') no-repeat;
}

.header__btn {
   width: 280px;
   height: 70px;
   background-color: #0aa566;
   font-size: calc(20px + 4 * (100vw / 1980));
   line-height: 1.2;
   padding: 0 38px;
   margin: 0 auto;
}