.instagram {
   padding: 0 0 10px;
}

.instagram__wrap {
   display: flex;
   flex-direction: column;
   overflow: auto;
}

.instagram__title {
   align-self: center;
   display: inline-block;
   position: relative;
   padding-left: 40px;
   margin: 0 0 40px;
   font-family: Mulish;
   font-size: calc(22px + 2 * (100vw / 1980));
   line-height: 1.6;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #0aa566;
}

.instagram__title::before {
   content: "";
   position: absolute;
   top: 10px;
   left: 2px;
   width: 26px;
   height: 26px;
   background: url('./../images/icon_inst.png') no-repeat;
}

.instagram__list {
   display: flex;
   padding: 0;
   margin: 0;
}

.instagram__item {
   position: relative;
   flex: 0 1 20%;
   object-fit: cover;
   min-width: 320px;
}

.instagram__img {
   width: 100%;
   height: 100%;
}

.instagram__item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('./../images/inst_shadow.png');
   background-size: 100% 100%;
   opacity: 0.3;
}

.instagram__item::after {
   content: "";
   position: absolute;
   bottom: 25px;
   right: 20px;
   width: 26px;
   height: 26px;
   background: url('./../images/icons/inst_icon.png') no-repeat;
}