.about {
   background-color: #16816b;
   padding: 0;

   &__wrap {
      display: flex;
      justify-content: center;
      margin-bottom: -18px;
   }

   &__img {
      width: 100%;
      position: relative;
      top: 65px;
      right: 140px;
   }

   &__right-block {
      width: 660px;
      margin: 90px 0 70px;
   }

   &__title {
      font-size: calc(35px + 20 * (100vw / 1920));
      @include font(400, 110%, #ffff);
      margin: 0 0 45px;

      &--green {
         color: #cae941;
         position: relative;

         &::after {
            content: "";
            position: absolute;
            top: 60px;
            right: -20px;
            width: 450px;
            height: 13px;
            background: url('./../img/about_line.png') no-repeat;
         }
      }
   }

   &__list {
      font-size: calc(18px + 3 * (100vw / 1920));
      @include font(400, 210%, #ffff);
      padding-left: 25px;
      margin-bottom: 40px;
   }

   &__item {
      padding-left: 10px;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: 9px;
         left: -23px;
         width: 18px;
         height: 18px;
         background-image: url('./../img/icons/about.png');
      }
   }

   &__btn {
      width: 380px;
      border: 2px solid #f8b231;
      padding-left: 30px;
   }
}