// Заголовки, общие БЄМ блоки и проче...

.btn {
   position: relative;
   height: 60px;
   border-radius: 35px;
   padding: 0 30px;
   font-size: calc(16px + 5 * (100vw / 1920));
   @include font(800, 120%, #ffff);
   transition: background-color 0.3s ease;
   

   &--green {
      display: flex;
      align-items: center;

      &:hover {
         background-color: $main_color-hover-btn;
      }
   }

   &::after {
      content: "";
      position: absolute;
      right: 40px;
      width: 30px;
      height: 16px;
      background: url('./../img/arrow-yellow.png') no-repeat;
   }

   &:hover::after {
      transform: translateX(10px);
   }

   &:active {
      transform: translate(1px, 2px);      
   }
}

.container {
   max-width: 1780px;
   padding: 0 30px;
   margin: 0 auto;
}

.text {
   font-size: calc(16px + 2 * (100vw / 1920));
   @include font(400, 200%, #1e1e1e);   
}

.title {
   font-size: calc(30px + 20 * (100vw / 1920));
   @include font(800, 120%, #f7ae3b);   
   letter-spacing: -0.02em;
}

.logo__img {
   transition: transform 500ms ease;

   &:hover {
      transform: scale(1.2);
   }
}