.footer {

   &__header {
      background-color: #f7ac38;
      padding: 0px 0 15px;
   }

   &__header-wrap {
      display: flex;
      justify-content: space-between;
      padding: 70px 0px 60px;
   }

   &__logo {
      margin: 65px 15.3vw 0 0;
   }

   &__central-block {
      display: flex;
      justify-content: space-between;
      margin-right: 6.4vw;
      max-width: 590px;
      width: 100%;
   }

   &__subtitle {
      @include font(800, 150%, #ffff);
      font-size: 26px;
      letter-spacing: -0.02em;
      margin: 0 0 20px;
   }

   &__information {
      margin-right: 50px;
   }

   &__list-info {
      padding-left: 0px;
      white-space: nowrap;
   }

   &__link-info {
      @include font(700, 190%, #6d450c);
      font-size: 18px;
      letter-spacing: -0.02em;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.6;
      }
   }

   &__payment {
      width: 280px;
   }

   &__list-payment {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-top: 5px;
   }

   &__payment-item {
      margin-right: 20px;
      margin-bottom: 20px;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.6;
      }
   }

   &__form {
      display: flex;
      flex-direction: column;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         bottom: 32px;
         left: 125px;
         width: 48px;
         height: 43px;
         background: url('./../img/ft_arrow.png') no-repeat;
      }
   }

   &__subtitle--form {
      margin-bottom: 25px;
   }

   &__form-input {
      width: 495px;
      height: 60px;
      border-radius: 30px;
      font-size: calc(15px + 2 * (100vw / 1920));
      padding: 21px 0 20px 70px;
      margin-bottom: 20px;
      background-image: url('./../img/ft_input.png');
      background-repeat: no-repeat;
      background-position: 30px;

      &::placeholder {
         font-size: calc(15px + 2 * (100vw / 1920));
         @include font(400, 200%, #6d450c);
      }

      &:focus {
         outline: 0;
         outline-offset: 0;
      }
   }

   &__form-btn {
      display: inline-block;
      width: 130px;
      margin: 0 auto;
      background-color: transparent;
      border: none;
      @include font(800, 250%, #6d450c);
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      z-index: 2;
      cursor: pointer;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.7;
      }

      &:active {
         transform: translate(1px, 2px);
      }
   }

   &__social {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      transform: translate(-50px, -35px);
   }

   &__social-item {
      margin-right: 25px;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.6;
      }

      &:last-child {
         margin: 0;
      }
   }

   &__bottom {
      display: flex;
      justify-content: center;
      background-color: #6e2b1c;
      padding: 15px 0 15px 0;
      position: relative;
   }

   &__small {
      align-self: center;
      @include font(400, 270%, #af8a82);
      font-size: 12px;
      letter-spacing: 0.02em;
   }

   &__go-top {
      position: fixed;
      bottom: 40px;
      right: 100px;
      width: 50px;
      height: 50px;
      background-color: #f2732f;
      border-radius: 5px;
      opacity: 0.8;
      transition: background-color 0.3s ease 0.1s;

      &:hover {
         background-color: #ee5c0d;
      }

      &::before {
         content: "Go top";
         position: absolute;
         top: 35px;
         right: 60px;
         width: 50px;
         font-size: calc(14px + 2 * (100vw / 1920));
         @include font(400, 250%, #f2662f);
         letter-spacing: -0.02em;
      }

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 13px;
         height: 25px;
         background: url('./../img/go_top_arrow.png') no-repeat;
      }
   }


}