.header {
   height: 100vh;
   background: url('./../img/header_bg_img.jpg') no-repeat;
   background-size: cover;
   background-position: center;

   &__title {
      // font-size: 200px;
      font-size: calc(30px + 170 * (100vw / 1920));
      font-weight: 800;
      color: #DE3E86;
      text-shadow: #533d4a calc(5px + 3 * (100vw / 1920)) calc(5px + 3 * (100vw / 1920));
      animation: show 3s;
   }

   @keyframes show {
      from {
         opacity: 0;
      }

      to {
         opacity: 1;
      }

   }

   &__top {
      position: relative;
      padding: 75px 0;
      margin-bottom: 40px;
   }

   &__menu {
      @extend %flexCenter;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__menu-icon {
      display: none;
   }

   &__menu-icon._active {
      span {
         transform: scale(0);
      }

      &::before {
         transform: rotate(-45deg);
         top: calc(50% - 1px);
      }

      &::after {
         transform: rotate(45deg);
         bottom: calc(50% - 1px);
      }
   }

   .menu {
      &__list {
         display: flex;
         padding: 0;
      }

      &__list {
         color: #ffff;
         font-size: calc(14px + 2 * (100vw / 1920));
         font-weight: 700;
         text-transform: uppercase;
      }

      &__item {
         margin: 0 35px 0 0;
         transition: color 0.2s ease;

         &:hover {
            text-decoration: underline;
         }

         &:last-child {
            margin-right: 0;
         }
      }
   }

   &__body {
      padding: 10px 0;
   }

   &__logo {
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
   }

   &__right-block {
      @extend %flexCenter;
      padding: 10px 0;
   }

   &__personal {
      position: relative;
   }

   &__personal::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 205px;
      width: 47px;
      height: 2px;
      background: url('./../img/header_line.png') no-repeat;
   }

   .personal {
      &__list {
         display: flex;
         padding: 0;
         margin-right: 140px;
      }

      &__item {
         margin-right: 45px;

         &:last-child {
            margin-right: 0;
         }

      }

      &__link {
         transition: opacity 0.3s ease;

         &:hover {
            opacity: 0.7;
         }
      }

      &__count {
         position: relative;
      }

      &__count-number {
         position: absolute;
         top: -10px;
         left: 25px;
         width: 18px;
         height: 18px;
         background-color: white;
         border-radius: 9px;
         font-size: 10px;
         line-height: 18px;
         text-align: center;
      }
   }

   .social {
      &__list {
         display: flex;
         padding: 0;
      }

      &__item {
         margin-right: 10px;
         transition: opacity 0.3s ease;

         &:last-child {
            margin-right: 0;
         }

         &:hover {
            opacity: 0.7;
         }
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   &__btn {
      width: 280px;
      height: 70px;
      background-color: $main_color-btn;
      font-size: calc(20px + 4 * (100vw / 1980));
      line-height: 1.2;
      padding: 0 38px;
      margin: 0 auto 16vh;
   }
}