.instagram {
   padding: 0 0 10px;

   &__wrap {
      display: flex;      
      
   }

   &__title-box {
      display: flex;
      justify-content: center;
   }

   &__title {      
      display: inline-block;
      position: relative;
      padding-left: 40px;
      margin: 0 0 40px;
      font-size: calc(22px + 2 * (100vw / 1980));
      @include font(800, 160%, #0aa566);
      letter-spacing: -0.02em;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.7;
      }

      &::before {
         content: "";
         position: absolute;
         top: 9px;
         left: 2px;
         width: 26px;
         height: 26px;
         background: url('./../img/icons/icon_inst.png') no-repeat;
      }
   }

   &__list {
      display: flex;
      overflow: auto;     
   }

   &__item {
      position: relative;
      flex: 0 1 20%;
      object-fit: cover;
      min-width: 255px;

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-image: url('./../img/inst_shadow.png');
         background-size: 100% 100%;
         opacity: 0.3;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: 25px;
         right: 20px;
         width: 26px;
         height: 26px;
         background: url('./../img/icons/inst_icon.png') no-repeat;
      }
   }

   &__img {
      width: 100%;
      height: 100%;
   }
}