@use "sass:math";

@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "base/null";

html,
body {
   font-family: 'Mulish', sans-serif;
   font-size: 10px;   
}

body._lock {
      overflow: hidden;
      // touch-action: none;
   }

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   // Прижимаем footer
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   >* {
      min-width: 0;
   }
}

@import "base";

// Подключение стилей общих элементов проекта
@import "./common.scss";

// Подключение стилей отдельных блоков
// @import "./libs/slick-slider.scss";
@import "./libs/aos.scss";

@import "./header.scss";
@import "./smoothies.scss";
@import "./about.scss";
@import "./products.scss";
@import "./story.scss";
@import "./testimonials.scss";
@import "./blog.scss";
@import "./instagram.scss";
@import "./footer.scss";
@import "./media/1795px.scss";
@import "./media/1499px.scss";
@import "./media/1274px.scss";
@import "./media/1044px.scss";
@import "./media/device-aspect-ratio.scss";
@import "./media/768px.scss";
@import "./media/570px.scss";
@import "./media/400px.scss";
@import "./media/360px.scss";




