.testimonials {
   background-color: #682F1C;
   padding: 105px 0 57px;

   .image-slider__image {
      margin: 0 auto;
   }

   &__title {
      text-align: center;
      margin: 0 0 10px;
   }

   &__inner {
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: -190px;
         right: 60px;
         width: 410px;
         height: 301px;
         background: url('./../img/testimonials_dots.png') no-repeat;
      }
   }

   &__title--red {
      color: #f2612d;
   }

   .swiper {

      &__wrapper {
         margin-bottom: 83px;
      }

      &__slide-wrap {
         position: relative;
         padding-top: 55px;
         display: flex;
         justify-content: center;
         max-width: 1200px;

         &::after {
            content: "Sarah A";
            font-size: calc(80px + 120 * (100vw / 1920));
            @include font(800, 120%, #521905);
            letter-spacing: -0.02em;
            position: absolute;
            top: 0;
            left: 70px;
            opacity: 0.6;
         }
      }

      &__content {
         display: flex;
         align-items: center;
         flex-direction: column;
         max-width: 460px;
         margin: 55px 50px 0 0;
         z-index: 2;
      }

      &__text {
         text-align: center;
         @include font(400, 200%, #ffff);
         margin-bottom: 20px;
         z-index: 2;
      }

      &__caption--orange {
         @include font(600, 120%, #f7ae3b);
         margin: 0;
      }

      &__img-wrap {
         z-index: 2;
      }

      &__img {
         width: 100%;
         object-fit: cover;
      }

      &__buttons-block {
         display: flex;
         justify-content: center;
      }

      .swiper__wrap-img {
         text-align: center;
      }
   }
}