.testimonials {
   background-color: #682F1C;
   padding: 105px 0 57px;

   &__title {
      text-align: center;
      margin: 0 0 40px;
   }

   &__inner {
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: -190px;
         right: 60px;
         width: 410px;
         height: 301px;
         background: url('./../img/testimonials_dots.png') no-repeat;
      }
   }

   &__title--red {
      color: #f2612d;
   }  
}