html,
body {
   font-family: 'Mulish', sans-serif;
   font-size: 10px;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style-type: none;
}

.header {
   height: 100vh;
   background: url("../img/header_bg_img.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.header__container {
   max-width: 1720px;
   margin: 0 auto;
   padding: 0 20px;
}

.header__top {
   position: relative;
   padding: 70px 0;
   margin-bottom: 35px;
}

.header__burger-btn {
   background-color: #0aa566;
   display: none;
   border: none;
   width: 50px;
   position: fixed;
   top: 20px;
   right: 20px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   z-index: 9999;
}

.header__burger-btn-icon {
   max-width: 100%;
}

.header__navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.menu__list {
   display: flex;
   justify-content: flex-start;
   padding: 0;
}

.menu__item {
   margin-right: 35px;
   font-family: Mulish;
   font-size: 1.6rem;
   font-weight: 700;
   text-transform: uppercase;
}

.menu__item:last-child {
   margin-right: 0;
}

.menu__link {
   color: #ffffff;
}

.header__logo {
   position: absolute;
   top: 70px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

.header__right-block {
   max-width: 420px;
   display: flex;
   align-items: center;
}

.header__personal {
   position: relative;
}

.personal__list {
   display: flex;
   padding: 0;
   margin-right: 140px;
}

.personal__item {
   margin-right: 45px;
}

.personal__item:last-child {
   margin-right: 0;
}

.count {
   position: relative;
}

.personal__count {
   position: absolute;
   top: -10px;
   left: 25px;
   width: 18px;
   height: 18px;
   background-color: white;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   -ms-border-radius: 9px;
   -o-border-radius: 9px;
   font-size: 10px;
   line-height: 18px;
   text-align: center;
}

.header__personal::after {
   content: "";
   position: absolute;
   top: 30px;
   left: 205px;
   width: 47px;
   height: 2px;
   background: url(../img/header_line.png) no-repeat;
}

.social__list {
   display: flex;
   padding: 0;
}

.social__item {
   margin-right: 10px;
}

.social__item:last-child {
   margin-right: 0;
}

.btn {
   position: relative;
   height: 60px;
   border-radius: 35px;
   padding: 0 30px;
   box-sizing: border-box;
   font-family: Mulish;
   font-size: 21px;
   line-height: 22px;
   color: #ffffff;
   font-weight: 800;
}

.btn--green {
   display: flex;
   align-items: center;
}

.btn--green::after {
   content: "";
   position: absolute;
   right: 40px;
   width: 30px;
   height: 16px;
   background: url(../img/arrow-yellow.png) no-repeat;
}

.btn--green:hover::after {
   transform: translateX(10px);
   -webkit-transform: translateX(10px);
   -moz-transform: translateX(10px);
   -ms-transform: translateX(10px);
   -o-transform: translateX(10px);
}

.btn--green:active {
   transform: translate(1px, 2px);
   -webkit-transform: translate(1px, 2px);
   -moz-transform: translate(1px, 2px);
   -ms-transform: translate(1px, 2px);
   -o-transform: translate(1px, 2px);
}

.header__btn {
   width: 280px;
   height: 70px;
   background-color: #0aa566;
   font-size: 24px;
   line-height: 40px;
   padding: 0 38px;
   margin: 0 auto;
}

.smoothies__container {
   padding: 100px 20px 120px;
   max-width: 1050px;
   margin: 0 auto;
}

.smoothies__wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   font-family: Mulish;
   font-size: 50px;
   line-height: 40px;
   font-weight: 800;
   color: #f7ae3b;
   letter-spacing: -0.02em;
}

.smoothies__title {
   margin: 0 0 40px;
}

.text {
   font-family: Mulish;
   font-size: 1.8rem;
   line-height: 3.5rem;
   font-weight: 400;
   color: #1e1e1e;
}

.smoothies__text {
   max-width: 915px;
   text-align: center;
   margin: 0 0 65px;
}

.smoothies__grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   background: #9ca2a2;
   gap: 2px;
}

.grid__item {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   background: white;
   padding: 15px 35px 35px;
}

.grid__img {
   margin-bottom: 20px;
}

.grid__caption {
   font-family: Mulish;
   font-size: 25px;
   line-height: 40px;
   font-weight: 800;
   color: #f2612d;
   letter-spacing: -0.02em;
}

.about {
   background-color: #16816b;
}

.about__container {
   max-width: 1255px;
   padding: 90px 20px 95px;
   margin: 0 auto;
}

.about__wrap {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   position: relative;
}

.about__img-wrap {
   flex: 0 1 691px;
   position: absolute;
   top: -25px;
   left: -210px;
}

.about__img {
   width: 100%;
   z-index: 3;
}

.about__title {
   font-size: 55px;
   line-height: 60px;
   color: #ffffff;
   margin: 0 0 45px;
}

.about__title--green {
   color: #cae941;
   position: relative;
}

.about__title--green::after {
   content: "";
   position: absolute;
   top: 65px;
   right: -20px;
   width: 450px;
   height: 13px;
   background: url(../img/about_line.png) no-repeat;
}

.about__list {
   font-family: Mulish;
   font-size: 2.1rem;
   line-height: 4.4rem;
   font-weight: 400;
   color: #ffffff;
   padding-left: 25px;
   margin-bottom: 40px;
   list-style-image: url(../icons/about.png);
}

.about__item {
   padding-left: 10px;
}

.about__btn {
   width: 380px;
   border: 2px solid #f8b231;
   padding-left: 25px;
}

.products__wrap {
   display: flex;
   overflow: auto;
}

.products__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 25%;
   padding: 130px 0 75px;
   min-width: 480px;
}

.products__item--сhocolate {
   background: url(../img/products_bg_1.png)
}

.products__item--vegan {
   background: url(../img/products_bg_2.png)
}

.products__item--lemon {
   background: url(../img/products_bg_3.png)
}

.products__item--turmeric {
   background: url(../img/products_bg_4.png)
}

.products__img-wrap {
   margin-bottom: 30px;
}

.products__title {
   font-size: 24px;
   line-height: 22px;
   margin: 0 0 5px;
}

.products__caption {
   font-size: 21px;
   line-height: 32px;
   font-weight: 400;
   margin-bottom: 60px;
}

.products__title,
.products__caption,
.products__btn {
   font-family: Mulish;
   color: #ffffff;
}

.products__btn {
   position: relative;
   background-color: transparent;
   width: 204px;
   border: solid 2px #ffffff;
   border-radius: 30px;
   padding-right: 125px;
}

.products__btn::after {
   content: "";
   position: absolute;
   top: 20px;
   right: 35px;
   width: 30px;
   height: 16px;
   background: url(../img/arrow-white.png) no-repeat;
}

.products__btn:hover::after {
   transform: translateX(10px);
   -webkit-transform: translateX(10px);
   -moz-transform: translateX(10px);
   -ms-transform: translateX(10px);
   -o-transform: translateX(10px);
}

.products__btn:active {
   transform: translate(1px, 2px);
   -webkit-transform: translate(1px, 2px);
   -moz-transform: translate(1px, 2px);
   -ms-transform: translate(1px, 2px);
   -o-transform: translate(1px, 2px);
}

.story__container {
   max-width: 1340px;
   padding: 125px 20px 155px;
   margin: 0 auto;
}

.story__wrap {
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.story__content {
   position: relative;
   padding-top: 135px;
   margin-right: 200px;
}

.story__title {
   margin: 0 0 40px;
}

.story__text {
   max-width: 515px;
   margin-bottom: 50px;
}

.story__btn {
   width: 300px;
   background-color: #0aa566;
}

.story__img-wrap {
   flex: 0 1 585px;
   position: relative;
}

.story__img {
   width: 100%;
}

.story__img-wrap::after {
   content: "";
   position: absolute;
   top: 20px;
   left: -165px;
   width: 290px;
   height: 216px;
   background: url(../img/story_stamp.png) no-repeat;
}

.testimonials {
   background: url(../img/testimonials_bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   z-index: -2;
}

.testimonials__container {
   max-width: 1200px;
   padding: 115px 20px 75px;
   margin: 0 auto;
}

.testimonials__wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.testimonials__wrap::after {
   content: "";
   position: absolute;
   top: -80px;
   right: 55px;
   width: 410px;
   height: 301px;
   background: url(../img/testimonials_dots.png) no-repeat;
}

.testimonials__title {
   margin: 0 0 130px;
}

.testimonials__title--red {
   color: #f2612d;
}

.testimonials__personal {
   position: relative;
   padding: 0 120px;
}

.testimonials__content {
   display: flex;
   margin-bottom: 105px;
}

.testimonials__paragraph {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 460px;
   margin: 55px 60px 0 0;
}

.testimonials__personal::after {
   content: "Sarah A";
   font-family: Mulish;
   font-size: 20rem;
   line-height: 4rem;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #521905;
   position: absolute;
   top: 15px;
   left: -60px;
   opacity: 0.6;
   z-index: -1;
}

.testimonials__text {
   text-align: center;
   font-size: 1.8rem;
   line-height: 3.5rem;
   font-weight: 400;
   color: #ffffff;
   margin-bottom: 5px;
}

.testimonials__caption--orange {
   line-height: 4.5rem;
   font-weight: 600;
   color: #f7ae3b;
   margin: 0;
}

.testimonials__btn-left,
.testimonials__btn-right {
   position: relative;
   width: 30px;
   height: 16px;
   background: transparent;
   border: none;
}

.testimonials__btn-left {
   margin-right: 95px;
}

.testimonials__btn-left::after {
   content: "";
   position: absolute;
   top: 0px;
   right: 0px;
   width: 30px;
   height: 16px;
   background: url(../img/testimonials_arrow__left.png) no-repeat;
}

.testimonials__btn-right::after {
   content: "";
   position: absolute;
   top: 0px;
   right: 0px;
   width: 30px;
   height: 16px;
   background: url(../img/testimonials_arrow__right.png) no-repeat;
}

.testimonials__btn-left:hover::after {
   transform: translateX(-10px);
   -webkit-transform: translateX(-10px);
   -moz-transform: translateX(-10px);
   -ms-transform: translateX(-10px);
   -o-transform: translateX(-10px);
}

.testimonials__btn-right:hover::after {
   transform: translateX(10px);
   -webkit-transform: translateX(10px);
   -moz-transform: translateX(10px);
   -ms-transform: translateX(10px);
   -o-transform: translateX(10px);
}

.blog__container {
   max-width: 1240px;
   padding: 100px 20px 190px;
   margin: 0 auto;
}

.blog__wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.blog__title {
   align-self: flex-start;
   margin: 0 0 55px;
}

.blog__content {
   display: flex;
   flex-wrap: wrap;
}

.blog__content::before {
   content: "";
   position: absolute;
   top: 170px;
   right: 0px;
   width: 687px;
   height: 12px;
   background: url(../img/blog_line.png) no-repeat;
   z-index: -1;
}

.blog__wrap-img {
   flex: 1 1 555px;
   margin-right: 60px;
}

.blog__img {
   width: 100%;
}

.blog__right-block {
   padding: 125px 45px 0 0;
}

.blog__right-block-header {
   margin-bottom: 35px;
}

.blog__subtitle {
   font-family: Mulish;
   font-size: 3.0rem;
   line-height: 4.0rem;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #f2612d;
   margin: 0 0 10px;
}

.blog__time {
   font-size: 16px;
   font-weight: 400;
}

.blog__text {
   max-width: 475px;
   margin: 0 0 0 auto;
}

.blog__link {
   display: inline-block;
   position: relative;
   font-weight: 800;
}

.blog__link::after {
   content: "";
   position: absolute;
   top: 13px;
   right: -30px;
   width: 18px;
   height: 10px;
   background: url(../img/blog_arrow.png) no-repeat;
}

.blog__link:hover::after {
   transform: translateX(10px);
   -webkit-transform: translateX(10px);
   -moz-transform: translateX(10px);
   -ms-transform: translateX(10px);
   -o-transform: translateX(10px);
}

.instagram__wrap {
   display: flex;
   flex-direction: column;
   overflow: auto;
   padding: 0 0 5px;
}

.instagram__title {
   align-self: center;
   display: inline-block;
   position: relative;
   padding-left: 40px;
   margin: 0 0 40px;
   font-family: Mulish;
   font-size: 24px;
   line-height: 40px;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #0aa566;
}

.instagram__title::before {
   content: "";
   position: absolute;
   top: 10px;
   left: 2px;
   width: 26px;
   height: 26px;
   background: url(../icons/icon_inst.png) no-repeat;
}

.instagram__list {
   display: flex;
   padding: 0;
   margin: 0;
}

.instagram__item {
   position: relative;
   flex: 0 1 20%;
   object-fit: cover;
   min-width: 384px;
}

.instagram__img {
   width: 100%;
   height: 100%;
}

.instagram__item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/inst_shadow.png);
   background-size: 100% 100%;
   opacity: 0.3;
}

.instagram__item::after {
   content: "";
   position: absolute;
   bottom: 25px;
   right: 20px;
   width: 26px;
   height: 26px;
   background: url(../icons/inst_icon.png) no-repeat;
}

.footer__header {
   background-color: #f7ac38;
}

.footer__container {
   max-width: 1720px;
   margin: 0 auto;
   padding: 0 20px;
}

.footer__header-wrap {
   display: flex;
   padding: 70px 0px 55px;
}

.footer__logo {
   margin: 65px 295px 0 0;
}

.footer__central-block {
   display: flex;
   margin-right: 126px;
   width: 590px;
}

.footer__subtitle {
   font-family: Mulish;
   font-size: 2.6rem;
   line-height: 4.0rem;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #ffffff;
   margin: 0 0 20px;
}

.footer__information {
   margin-right: 155px;
}

.footer__list-info {
   padding-left: 0px;
   white-space: nowrap;
}

.footer__link-info {
   font-family: Mulish;
   font-size: 1.8rem;
   line-height: 3.5rem;
   font-weight: 700;
   letter-spacing: -0.02em;
   color: #6d450c;
}

/* .footer__payment {
   margin-right: 126px;
} */

.footer__list-payment {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   padding-top: 5px;
}

.footer__payment-item {
   margin-right: 20px;
   margin-bottom: 20px;
}

.footer__form {
   position: relative;
   margin-bottom: 25px;
}

.footer__subtitle--form {
   margin-bottom: 25px;
}

.form__input {
   width: 435px;
   height: 60px;
   border-radius: 30px;
   border: none;
   padding-left: 60px;
}

.form__input::placeholder {
   font-family: Mulish;
   font-size: 1.7rem;
   line-height: 3.5rem;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #6d450c;
   margin-left: 30px;
}

.footer__form::after {
   content: "";
   position: absolute;
   top: 85px;
   left: 25px;
   width: 24px;
   height: 19px;
   background: url(../img/ft_input.png) no-repeat;
}

.footer__social {
   display: flex;
   justify-content: flex-end;
   position: relative;
   padding-right: 50px;
}

.footer__social::after {
   content: "";
   position: absolute;
   bottom: 10px;
   left: 120px;
   width: 48px;
   height: 43px;
   background: url(../img/ft_arrow.png) no-repeat;
}

.footer__list-social {
   display: flex;
   margin: 0;
}

.footer__social-item {
   margin-right: 25px;
}

.footer__social-item:last-child {
   margin: 0;
}

.footer__form-btn {
   background-color: transparent;
   border: none;
   font-family: Mulish;
   font-size: 1.6rem;
   line-height: 4.0rem;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 0.04em;
   color: #6d450c;
}

.footer__bottom {
   display: flex;
   justify-content: center;
   background-color: #6e2b1c;
   padding: 15px 0 15px 0;
   position: relative;
}

.footer__small {
   align-self: center;
   font-family: Mulish;
   font-size: 1.3rem;
   line-height: 3.5rem;
   font-weight: 400;
   letter-spacing: 0.02em;
   color: #af8a82;
}

.link__go-top {
   position: fixed;
   bottom: 45px;
   right: 100px;
   width: 50px;
   height: 50px;
   background-color: #f2662f;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.link__go-top::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 13px;
   height: 25px;
   background: url(../img/go_top_arrow.png) no-repeat;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}

.link__go-top::before {
   content: "Go top";
   position: absolute;
   top: 35px;
   right: 60px;
   width: 50px;
   font-family: Mulish;
   font-size: 1.6rem;
   line-height: 4.0rem;
   font-weight: 400;
   letter-spacing: -0.02em;
   color: #ffffff;
}

@media screen and (max-width: 768px) {

   /* html,
   body {
      font-size: 9px;
   } */

   .header__burger-btn {
      display: block;
   }

   .header__top {
      margin-bottom: 135px;
   }

   .header__navigation {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #0aa566;
      z-index: 999;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: 150px;
   }

   .menu__list {
      flex-direction: column;
      align-items: center;
   }

   .menu__item {
      margin: 0 0 50px;
   }

   .header__right-block {
      margin-bottom: 100px;
   }

   .header__logo {
      top: 100px;
   }

   .smoothies__wrap {
      padding: 50px 0 95px;
   }

   .smoothies__title {
      margin: 0 0 25px;
   }

   .smoothies__container {
      max-width: 710px;
      margin: 0 0 45px;
   }

   .smoothies__grid {
      grid-template-columns: 1fr 1fr;
   }

   .grid__item {
      padding: 30px 35px 35px;
   }

   .about {
      padding: 55px 0 100px;
   }

   .about__wrap {
      justify-content: flex-start;
      max-width: 700px;
   }

   .about__img-wrap {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 70px;
   }

   .story {
      padding: 0px 0 80px;
   }

   .story__wrap {
      max-width: 700px;
   }

   .story__content {
      padding-top: 75px;
      margin-right: 0;
   }

   .story__img-wrap {
      margin-left: auto;
   }

   .story__btn {
      margin-bottom: 80px
   }

   .testimonials__wrap {
      padding: 115px 0 80px;
   }

   .testimonials__wrap::after {
      display: none;
   }

   .testimonials__title {
      margin: 0 0 100px;
   }


   .testimonials__personal::after {
      font-size: 180px;
      line-height: 40px;
      top: 275px;
      left: 0px;
   }

   .testimonials__content {
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 15px;
   }

   .testimonials__paragraph {
      margin: 75px 0;
   }

   .blog {
      padding: 100px 25px;
   }

   .blog__content::before {
      display: none;
   }

   .blog__wrap-img {
      margin: 0;
   }

   .blog__right-block {
      padding: 35px 0;
   }

   .footer__header-wrap {
      flex-direction: column;
      align-items: center;
      padding: 60px 0px 55px;
   }

   .footer__logo {
      margin: 0 0 55px;
   }

   .footer__central-block {
      margin: 0 0 50px 30px;
   }

   .footer__form-social {
      margin-bottom: 25px;
   }

   .link__go-top {
      position: fixed;
      bottom: 45px;
      right: 20px;

   }
}


@media screen and (max-width: 360px) {

   html,
   body {
      font-size: 9px;
   }

   .header__navigation {
      display: none;
   }

   .header__burger-btn {
      display: block;
   }

   .header__top {
      margin-bottom: 135px;
   }

   .header__navigation {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #0aa566;
      z-index: 999;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: 150px;
   }

   .menu__list {
      flex-direction: column;
      align-items: center;
   }

   .menu__item {
      margin: 0 0 50px;
   }

   .header__right-block {
      margin-bottom: 100px;
   }

   .header__logo {
      top: 100px;
   }

   .smoothies__wrap {
      padding: 50px 0 95px;
   }

   .smoothies__title {
      margin: 0 0 25px;
   }

   .smoothies__container {
      max-width: 710px;
      margin: 0 0 45px;
   }

   .smoothies__grid {
      grid-template-columns: 1fr 1fr;
   }

   .grid__item {
      padding: 30px 35px 35px;
   }

   .about {
      padding: 55px 0 100px;
   }

   .about__wrap {
      justify-content: flex-start;
      max-width: 700px;
   }

   .about__img-wrap {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 70px;
   }

   .story {
      padding: 0px 0 80px;
   }

   .story__wrap {
      max-width: 700px;
   }

   .story__content {
      padding-top: 75px;
      margin-right: 0;
   }

   .story__img-wrap {
      margin-left: auto;
   }

   .story__btn {
      margin-bottom: 80px
   }

   .testimonials__wrap {
      padding: 115px 0 80px;
   }

   .testimonials__wrap::after {
      display: none;
   }

   .testimonials__title {
      margin: 0 0 100px;
   }


   .testimonials__personal::after {
      font-size: 180px;
      line-height: 40px;
      top: 275px;
      left: 0px;
   }

   .testimonials__content {
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 15px;
   }

   .testimonials__paragraph {
      margin: 75px 0;
   }

   .blog {
      padding: 100px 25px;
   }

   .blog__content::before {
      display: none;
   }

   .blog__wrap-img {
      margin: 0;
   }

   .blog__right-block {
      padding: 35px 0;
   }

   .footer__header-wrap {
      flex-direction: column;
      align-items: center;
      padding: 60px 0px 55px;
   }

   .footer__logo {
      margin: 0 0 55px;
   }

   .footer__central-block {
      margin: 0 0 50px 30px;
   }

   .footer__form-social {
      margin-bottom: 25px;
   }

   .link__go-top {
      position: fixed;
      bottom: 45px;
      right: 20px;

   }

}