html {
   font-family: 'Mulish', sans-serif;

}

a {
   text-decoration: none;
}

.header {
   height: 100vh;
   background: url("../img/header_bg_img.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
}

.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 70px 100px 105px 100px;
   position: relative;
}

.list {
   list-style-type: none;
}

.menu__list {
   display: flex;
   justify-content: flex-start;
   padding: 0;
}

.menu__item {
   margin-right: 33px;
   font-family: Mulish;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
}

.menu__item:last-child {
   margin-right: 0;
}

.menu__link {
   color: #ffffff;
}

.header__logo {
   position: absolute;
   top: 67px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

.header__right-block {
   width: 420px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__personal {
   position: relative;
}

.personal__list {
   display: flex;
   justify-content: space-between;
   padding: 0;
   margin-right: 100px;
}

.personal__item {
   margin-right: 45px;
}

.personal__item:last-child {
   margin-right: 0;
}

.personal__count {
   position: absolute;
   top: 3px;
   left: 76px;
}

.header__personal::after {
   content: url(../img/header_line.png);
   position: absolute;
   top: 16px;
   left: 205px;
}

.social__list {
   display: flex;
   padding: 0;
}

.social__item {
   margin-right: 10px;
}

.social__item:last-child {
   margin-right: 0;
}

.header__content {
   align-self: center;
}

.btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   border-radius: 35px;
   padding: 0 38px 0 30px;
   box-sizing: border-box;
   font-family: Mulish;
   font-size: 21px;
   line-height: 22px;
   color: #ffffff;
   font-weight: 800;
   text-decoration: none;
}

.btn:active {
   transform: translateX(5px, 10px);
   -webkit-transform: translateX(5px, 10px);
   -moz-transform: translateX(5px, 10px);
   -ms-transform: translateX(5px, 10px);
   -o-transform: translateX(5px, 10px);
}

.header__btn {
   width: 280px;
   height: 70px;
   background-color: #0aa566;
   font-size: 24px;
   line-height: 40px;
   padding: 0 38px;
}

.smoothies {
   padding-top: 98px;
   padding-bottom: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   font-family: Mulish;
   font-size: 50px;
   line-height: 40px;
   font-weight: 800;
   color: #f7ae3b;
   letter-spacing: -0.02em;
}

.smoothies__title {
   margin: 0;
}

.text {
   font-family: Mulish;
   font-size: 18px;
   line-height: 35px;
   font-weight: 400;
   color: #1e1e1e;
}

.smoothies__text {
   max-width: 915px;
   text-align: center;
   margin-top: 45px;
}

.smoothies__grid {
   display: grid;
   grid-template-columns: 265px 265px 265px 265px;
   grid-template-rows: 180px 180px;
   margin-top: 40px;
   background: #9ca2a2;
   gap: 2px;
}

.grid__item {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   background: white;
   padding: 35px;
}

.grid__caption {
   font-family: Mulish;
   font-size: 25px;
   line-height: 40px;
   font-weight: 800;
   color: #f2612d;
   margin-top: 20px;
   letter-spacing: -0.02em;
}


.about__wrap {
   display: flex;
   justify-content: flex-end;
   position: relative;
   padding: 85px 355px 90px;
   background-color: #16816b;
}

.about__img {
   position: absolute;
   top: 64px;
   left: 143px;
   z-index: 3;
}

.about__right-block {
   display: flex;
   flex-direction: column;
}

.about__title {
   font-size: 55px;
   line-height: 60px;
   color: #ffffff;
   margin: 0;
}

.about__title--green {
   color: #cae941;
}

.about__title--green::after {
   content: url(../img/about_line.png);
   position: absolute;
   top: 170px;
   right: 400px;
}

.about__list {
   font-family: Mulish;
   font-size: 21px;
   line-height: 45px;
   font-weight: 400;
   color: #ffffff;
   margin-top: 40px;
   margin-bottom: 0;
   padding-left: 25px;
   list-style-image: url(../icons/about.png);
}

.about__item {
   padding-left: 10px;
}

.about__btn {
   width: 380px;
   border: 2px solid #f8b231;
   margin-top: 40px;
}

.products {
   display: flex;
}

.products__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 1 480px;
   padding-top: 130px;
   padding-bottom: 80px;
}

.products__item-1 {
   background: url(../img/products_bg_1.png)
}

.products__item-2 {
   background: url(../img/products_bg_2.png)
}

.products__item-3 {
   background: url(../img/products_bg_3.png)
}

.products__item-4 {
   background: url(../img/products_bg_4.png)
}

.products__title {
   font-size: 24px;
   line-height: 22px;
   margin-top: 30px;
   margin-bottom: 5px;
}

.products__caption {
   font-size: 21px;
   line-height: 32px;
   font-weight: 400;
}

.products__title,
.products__caption,
.products__btn {
   font-family: Mulish;
   color: #ffffff;
}

.products__btn {
   background-color: transparent;
   width: 204px;
   margin-top: 60px;
   padding: 0 30px;
   border: solid 2px #ffffff;
   border-radius: 30px;
}

.story__wrap {
   display: flex;
   justify-content: space-between;
   padding: 120px 310px 160px;
   position: relative;
}

.story__content {
   display: flex;
   flex-direction: column;
   padding-top: 140px;

}

.story__title {
   margin: 0;
}

.story__text {
   padding-top: 20px;
}

.story__content::after {
   content: url(../img/story_stamp.png);
   position: absolute;
   top: 140px;
   right: 770px;
}

.story__btn {
   width: 300px;
   background-color: #0aa566;
   margin-top: 30px;
}


.testimonials__wrap {
   background: url(../img/testimonials_bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   padding: 117px 590px 70px;
   z-index: -2;
}

.testimonials__wrap::after {
   content: url(../img/testimonials_sarah_a.png);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 250px;
   left: 440px;
   opacity: 0.3;
   z-index: -1;
}

.testimonials__title {
   margin: 0;
}

.testimonials__title::after {
   content: url(../img/testimonials_dots.png);
   position: absolute;
   top: -80px;
   right: 60px;
}

.testimonials__title--red {
   color: #f2612d;
}

.testimonials__content {
   display: flex;
   justify-content: space-around;
   margin-top: 125px;
}

.testimonials__info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.testimonials__text {
   text-align: center;
   font-size: 18px;
   line-height: 35px;
   font-weight: 400;
   color: #ffffff;
   margin-top: 55px;
   margin-right: 60px;
   margin-bottom: 5px;
}

.testimonials__caption--orange {
   line-height: 45px;
   font-weight: 600;
   color: #f7ae3b;
   padding-right: 60px;
   margin: 0;
}

.testimonials__buttons {
   display: flex;
   margin-top: 120px;
}

.testimonials__button-left,
.testimonials__button-right {
   background: transparent;
   border: none;
}

.testimonials__img-left {
   margin-right: 40px;
}

.testimonials__img-right {
   margin-left: 40px;
}


.blog__wrap {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-top: 100px;
   padding-right: 410px;
   position: relative;
}

.blog__title {
   margin: 0 950px 0 0;
}

.blog__wrap-img {
   margin-right: 60px;
}

.blog__content {
   display: flex;
   margin-top: 60px;
}

.blog__content::before {
   content: url(../img/blog_line.png);
   position: absolute;
   top: 265px;
   right: 350px;
   z-index: -1;
}

.blog__subtitle {
   font-family: Mulish;
   font-size: 30px;
   line-height: 40px;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #f2612d;
   margin-top: 125px;
   margin-bottom: 10px;
}

.blog__time {
   font-size: 16px;
   font-weight: 400;
}

.blog__text {
   margin-top: 30px;
   margin-left: 60px;
}

.blog__link {
   color: #1e1e1e;
   font-weight: 800;
   font-style: italic;
}

.blog__title-inst {
   font-family: Mulish;
   font-size: 24px;
   line-height: 40px;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #0aa566;
   margin-top: 190px;
   margin-right: 440px;
}

.blog__title-inst::before {
   content: url(../icons/icon_inst.png);
   position: absolute;
   top: 800px;
   left: 850px;
}


.instagram__list {
   display: flex;
   padding: 0;
   margin-bottom: 10px;
}

.instagram__item {
   position: relative;
}

.instagram__item::before {
   content: url(../img/inst_shadow.png);
   position: absolute;
   top: 0;
   left: 0;
   /* z-index: 2; */
}

.instagram__item::after {
   content: url(../icons/inst_icon.png);
   position: absolute;
   top: 340px;
   right: 20px;
   /* z-index: 3; */
}





.footer__wrap {
   display: flex;
   flex-direction: column;
}

.footer__header {
   display: flex;
   padding: 40px 95px 50px;
   background-color: #f7ac38;
}

.footer__logo {
   margin: 90px 295px 0 5px;
}

.footer__subtitle {
   font-family: Mulish;
   font-size: 26px;
   line-height: 40px;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #ffffff;
}

.footer__information {
   margin-right: 155px;
}

.footer__list-info {
   padding-left: 0px;
   white-space: nowrap;
}

.footer__link-info {
   font-family: Mulish;
   font-size: 18px;
   line-height: 35px;
   font-weight: 700;
   letter-spacing: -0.02em;
   color: #6d450c;
}

.footer__payment {
   margin-right: 126px;
}

.footer__list-payment {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   padding-top: 5px;
}

.footer__payment-item {
   margin-right: 20px;
   margin-bottom: 20px;
}

.footer__form {
   position: relative;
}

.footer__subtitle--form {
   margin-bottom: 25px;
}

.form__input {
   width: 435px;
   height: 60px;
   border-radius: 30px;
   border: none;
   padding-left: 60px;
}

.form__input::placeholder {
   font-family: Mulish;
   font-size: 17px;
   line-height: 35px;
   font-weight: 800;
   letter-spacing: -0.02em;
   color: #6d450c;
   margin-left: 30px;
}

.footer__form::after {
   content: url(../img/ft_input.png);
   position: absolute;
   top: 85px;
   left: 20px;
}

.footer__social {
   display: flex;
   margin-top: 15px;
   position: relative;
}

.footer__social::after {
   content: url(../img/ft_arrow.png);
   position: absolute;
   top: 0;
   left: 115px;
}

.footer__list-social {
   display: flex;
}

.footer__social-item {
   margin-right: 30px;
}

.form__btn {
   background-color: transparent;
   border: none;
   font-family: Mulish;
   font-size: 16px;
   line-height: 40px;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 0.04em;
   color: #6d450c;
   margin-left: 175px;
}

.form__input-text {
   width: 495px;
   height: 60px;
}


.footer__bottom {
   display: flex;
   justify-content: space-between;
   background-color: #6e2b1c;
   padding: 0 100px 0 870px;
}

.footer__small {
   font-family: Mulish;
   font-size: 13px;
   line-height: 35px;
   font-weight: 400;
   letter-spacing: 0.02em;
   color: #af8a82;
   margin-top: 20px;
}

.footer__go-top-img {
   transform: translateY(-30px);
   -webkit-transform: translateY(-30px);
   -moz-transform: translateY(-30px);
   -ms-transform: translateY(-30px);
   -o-transform: translateY(-30px);
}

.footer__go-top {
   font-family: Mulish;
   font-size: 14px;
   line-height: 40px;
   font-weight: 400;
   color: #ffffff;
   margin: 0px;
}